.colour-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
}

.back-btn {
  position: Absolute;
  margin: 20px;
  background-color: white;
  padding: 2vh;
  border-radius: 2vh;
  font-size: 3vh;
}

.back-btn:hover {
  cursor: pointer;
}

.colour-title {
  background-color: black;
  width: fit-content;
  padding: 20px 15px;
  border-radius: 2vh;
}
