.colour-item {
  text-align: center;
  font-size: 200px;
  padding-top: 10vh;
}

.back-btn {
  position: Absolute;
  margin: 20px;
  background-color: white;
  padding: 2vh;
  border-radius: 2vh;
}

.back-btn:hover {
  cursor: pointer;
}

.colour-title {
  margin-top: 8vh;
  background-color: black;
  margin: 10% 30%;
  border-radius: 2vh;
}
